# -*- coding: utf-8 -*-

"""
    ytelapiv3.controllers.email_controller

    This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
"""

from .base_controller import BaseController
from ..api_helper import APIHelper
from ..configuration import Configuration
from ..http.auth.basic_auth import BasicAuth

class EmailController(BaseController):

    """A Controller to access Endpoints in the ytelapiv3 API."""


    def create_email_deleteinvalidemail(self,
                                        email):
        """Does a POST request to /email/deleteinvalidemail.json.

        Remove an email from the invalid email list.

        Args:
            email (string): A valid email address that is to be remove from
                the invalid email list.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/deleteinvalidemail.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Email': email
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_email_listblockemail(self,
                                    options=dict()):
        """Does a POST request to /email/listblockemail.json.

        Retrieve a list of emails that have been blocked.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    offset -- string -- The starting point of the list of
                        blocked emails that should be returned.
                    limit -- string -- The count of results that should be
                        returned.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/listblockemail.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Offset': options.get('offset', None),
            'Limit': options.get('limit', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_email_listspamemail(self,
                                   options=dict()):
        """Does a POST request to /email/listspamemail.json.

        Retrieve a list of emails that are on the spam list.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    offset -- string -- The starting point of the list of spam
                        emails that should be returned.
                    limit -- string -- The count of results that should be
                        returned.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/listspamemail.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Offset': options.get('offset', None),
            'Limit': options.get('limit', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_email_listbounceemail(self,
                                     options=dict()):
        """Does a POST request to /email/listbounceemail.json.

        Retrieve a list of emails that have bounced.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    offset -- string -- The starting point of the list of
                        bounced emails that should be returned.
                    limit -- string -- The count of results that should be
                        returned.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/listbounceemail.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Offset': options.get('offset', None),
            'Limit': options.get('limit', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_email_deletebouncesemail(self,
                                        email):
        """Does a POST request to /email/deletebouncesemail.json.

        Remove an email address from the bounced list.

        Args:
            email (string): The email address to be remove from the bounced
                email list.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/deletebouncesemail.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Email': email
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_email_listinvalidemail(self,
                                      options=dict()):
        """Does a POST request to /email/listinvalidemail.json.

        Retrieve a list of invalid email addresses.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    offset -- string -- The starting point of the list of
                        invalid emails that should be returned.
                    limit -- string -- The count of results that should be
                        returned.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/listinvalidemail.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Offset': options.get('offset', None),
            'Limit': options.get('limit', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_email_listunsubscribedemail(self,
                                           options=dict()):
        """Does a POST request to /email/listunsubscribedemail.json.

        Retrieve a list of email addresses from the unsubscribe list.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    offset -- string -- The starting point of the list of
                        unsubscribed emails that should be returned.
                    limit -- string -- The count of results that should be
                        returned.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/listunsubscribedemail.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Offset': options.get('offset', None),
            'Limit': options.get('limit', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_email_deleteunsubscribedemail(self,
                                             email):
        """Does a POST request to /email/deleteunsubscribedemail.json.

        Remove an email address from the list of unsubscribed emails.

        Args:
            email (string): A valid email address that is to be remove from
                the unsubscribe list.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/deleteunsubscribedemail.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'email': email
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_email_addunsubscribesemail(self,
                                          email):
        """Does a POST request to /email/addunsubscribesemail.json.

        Add an email to the unsubscribe list

        Args:
            email (string): A valid email address that is to be added to the
                unsubscribe list

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/addunsubscribesemail.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'email': email
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_email_deleteblocksemail(self,
                                       email):
        """Does a POST request to /email/deleteblocksemail.json.

        Remove an email from blocked emails list.

        Args:
            email (string): The email address to be remove from the blocked
                list.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/deleteblocksemail.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Email': email
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_email_deletespamemail(self,
                                     email):
        """Does a POST request to /email/deletespamemail.json.

        Remove an email from the spam email list.

        Args:
            email (string): A valid email address that is to be remove from
                the spam list.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/deletespamemail.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Email': email
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_email_sendemails(self,
                                options=dict()):
        """Does a POST request to /email/sendemails.json.

        Create and submit an email message to one or more email addresses.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    to -- string -- A valid address that will receive the
                        email. Multiple addresses can be separated by using
                        commas.
                    mtype -- TypeEnum -- Specifies the type of email to be
                        sent
                    subject -- string -- The subject of the mail. Must be a
                        valid string.
                    message -- string -- The email message that is to be sent
                        in the text.
                    mfrom -- string -- A valid address that will send the
                        email.
                    cc -- string -- Carbon copy. A valid address that will
                        receive the email. Multiple addresses can be separated
                        by using commas.
                    bcc -- string -- Blind carbon copy. A valid address that
                        will receive the email. Multiple addresses can be
                        separated by using commas.
                    attachment -- string -- A file that is attached to the
                        email. Must be less than 7 MB in size.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/email/sendemails.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'To': options.get('to', None),
            'Type': options.get('mtype', None),
            'Subject': options.get('subject', None),
            'Message': options.get('message', None),
            'From': options.get('mfrom', None),
            'Cc': options.get('cc', None),
            'Bcc': options.get('bcc', None),
            'Attachment': options.get('attachment', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body
