# -*- coding: utf-8 -*-

"""
    ytelapi.controllers.conference_controller

    This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
"""

from .base_controller import BaseController
from ..api_helper import APIHelper
from ..configuration import Configuration
from ..http.auth.basic_auth import BasicAuth

class ConferenceController(BaseController):

    """A Controller to access Endpoints in the ytelapi API."""


    def create_conferences_play_audio(self,
                                      options=dict()):
        """Does a POST request to /conferences/playAudio.json.

        Play an audio file during a conference.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    conference_sid -- string -- The unique identifier for a
                        conference object.
                    participant_sid -- string -- The unique identifier for a
                        participant object.
                    audio_url -- AudioUrlEnum -- The URL for the audio file
                        that is to be played during the conference. Multiple
                        audio files can be chained by using a semicolon.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/conferences/playAudio.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'ConferenceSid': options.get('conference_sid', None),
            'ParticipantSid': options.get('participant_sid', None),
            'AudioUrl': options.get('audio_url', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_conferences_hangup_participant(self,
                                              options=dict()):
        """Does a POST request to /conferences/hangupParticipant.json.

        Remove a participant from a conference.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    conference_sid -- string -- The unique identifier for a
                        conference object.
                    participant_sid -- string -- The unique identifier for a
                        participant object.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/conferences/hangupParticipant.json'
        _query_parameters = {
            'ParticipantSid': options.get('participant_sid', None)
        }
        _query_builder = APIHelper.append_url_with_query_parameters(_query_builder,
            _query_parameters, Configuration.array_serialization)
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'ConferenceSid': options.get('conference_sid', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_conferences_viewconference(self,
                                          conference_sid):
        """Does a POST request to /conferences/viewconference.json.

        Retrieve information about a conference by its ConferenceSid.

        Args:
            conference_sid (string): The unique identifier of each conference
                resource

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/conferences/viewconference.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'ConferenceSid': conference_sid
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_conferences_listconference(self,
                                          options=dict()):
        """Does a POST request to /conferences/listconference.json.

        Retrieve a list of conference objects.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    page -- int -- The page count to retrieve from the total
                        results in the collection. Page indexing starts at 1.
                    pagesize -- int -- Number of individual resources listed
                        in the response per page
                    friendly_name -- string -- Only return conferences with
                        the specified FriendlyName
                    date_created -- string -- Conference created date

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/conferences/listconference.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'page': options.get('page', None),
            'pagesize': options.get('pagesize', None),
            'FriendlyName': options.get('friendly_name', None),
            'DateCreated': options.get('date_created', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_conferences_list_participant(self,
                                            options=dict()):
        """Does a POST request to /conferences/listParticipant.json.

        Retrieve a list of participants for an in-progress conference.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    conference_sid -- string -- The unique identifier for a
                        conference.
                    page -- int -- The page count to retrieve from the total
                        results in the collection. Page indexing starts at 1.
                    pagesize -- int -- The count of objects to return per
                        page.
                    muted -- bool -- Specifies if participant should be
                        muted.
                    deaf -- bool -- Specifies if the participant should hear
                        audio in the conference.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/conferences/listParticipant.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'ConferenceSid': options.get('conference_sid', None),
            'Page': options.get('page', None),
            'Pagesize': options.get('pagesize', None),
            'Muted': options.get('muted', None),
            'Deaf': options.get('deaf', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_conferences_view_participant(self,
                                            options=dict()):
        """Does a POST request to /conferences/viewParticipant.json.

        Retrieve information about a participant by its ParticipantSid.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    conference_sid -- string -- The unique identifier for a
                        conference object.
                    participant_sid -- string -- The unique identifier for a
                        participant object.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/conferences/viewParticipant.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'ConferenceSid': options.get('conference_sid', None),
            'ParticipantSid': options.get('participant_sid', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_conferences_add_participant(self,
                                           options=dict()):
        """Does a POST request to /conferences/addParticipant.json.

        Add Participant in conference 

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    conference_sid -- string -- The unique identifier for a
                        conference object.
                    participant_number -- string -- The phone number of the
                        participant to be added.
                    muted -- bool -- Specifies if participant should be
                        muted.
                    deaf -- bool -- Specifies if the participant should hear
                        audio in the conference.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/conferences/addParticipant.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'ConferenceSid': options.get('conference_sid', None),
            'ParticipantNumber': options.get('participant_number', None),
            'Muted': options.get('muted', None),
            'Deaf': options.get('deaf', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_conferences_create_conference(self,
                                             options=dict()):
        """Does a POST request to /conferences/createConference.json.

        Here you can experiment with initiating a conference call through Ytel
        and view the request response generated when doing so.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    mfrom -- string -- A valid 10-digit number (E.164 format)
                        that will be initiating the conference call.
                    to -- string -- A valid 10-digit number (E.164 format)
                        that is to receive the conference call.
                    url -- string -- URL requested once the conference
                        connects
                    method -- string -- Specifies the HTTP method used to
                        request the required URL once call connects.
                    status_call_back_url -- string -- URL that can be
                        requested to receive notification when call has ended.
                        A set of default parameters will be sent here once the
                        conference is finished.
                    status_call_back_method -- string -- Specifies the HTTP
                        methodlinkclass used to request StatusCallbackUrl.
                    fallback_url -- string -- URL requested if the initial Url
                        parameter fails or encounters an error
                    fallback_method -- string -- Specifies the HTTP method
                        used to request the required FallbackUrl once call
                        connects.
                    record -- bool -- Specifies if the conference should be
                        recorded.
                    record_call_back_url -- string -- Recording parameters
                        will be sent here upon completion.
                    record_call_back_method -- string -- Specifies the HTTP
                        method used to request the required URL once
                        conference connects.
                    schedule_time -- string -- Schedule conference in future.
                        Schedule time must be greater than current time
                    timeout -- int -- The number of seconds the call stays on
                        the line while waiting for an answer. The max time
                        limit is 999 and the default limit is 60 seconds but
                        lower times can be set.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/conferences/createConference.json'
        _query_parameters = {
            'Url': options.get('url', None)
        }
        _query_builder = APIHelper.append_url_with_query_parameters(_query_builder,
            _query_parameters, Configuration.array_serialization)
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'From': options.get('mfrom', None),
            'To': options.get('to', None),
            'Method': options.get('method', None),
            'StatusCallBackUrl': options.get('status_call_back_url', None),
            'StatusCallBackMethod': options.get('status_call_back_method', None),
            'FallbackUrl': options.get('fallback_url', None),
            'FallbackMethod': options.get('fallback_method', None),
            'Record': options.get('record', None),
            'RecordCallBackUrl': options.get('record_call_back_url', None),
            'RecordCallBackMethod': options.get('record_call_back_method', None),
            'ScheduleTime': options.get('schedule_time', None),
            'Timeout': options.get('timeout', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_conferences_deaf_mute_participant(self,
                                                 options=dict()):
        """Does a POST request to /conferences/deafMuteParticipant.json.

        Deaf Mute Participant

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    conference_sid -- string -- ID of the active conference
                    participant_sid -- string -- ID of an active participant
                    muted -- bool -- Mute a participant
                    deaf -- bool -- Make it so a participant cant hear

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/conferences/deafMuteParticipant.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'conferenceSid': options.get('conference_sid', None),
            'ParticipantSid': options.get('participant_sid', None),
            'Muted': options.get('muted', None),
            'Deaf': options.get('deaf', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body
