# -*- coding: utf-8 -*-

"""
    ytelapi.controllers.letter_controller

    This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
"""

from .base_controller import BaseController
from ..api_helper import APIHelper
from ..configuration import Configuration
from ..http.auth.basic_auth import BasicAuth

class LetterController(BaseController):

    """A Controller to access Endpoints in the ytelapi API."""


    def create_letter_delete(self,
                             lettersid):
        """Does a POST request to /letter/delete.json.

        Remove a letter object by its LetterId.

        Args:
            lettersid (string): The unique identifier for a letter object.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/letter/delete.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'lettersid': lettersid
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_letter_viewletter(self,
                                 lettersid):
        """Does a POST request to /letter/viewletter.json.

        Retrieve a letter object by its LetterSid.

        Args:
            lettersid (string): The unique identifier for a letter object.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/letter/viewletter.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'lettersid': lettersid
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_letter_listsletter(self,
                                  options=dict()):
        """Does a POST request to /letter/listsletter.json.

        Retrieve a list of letter objects. The letter objects are sorted by
        creation date, with the most recently created letters appearing
        first.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    page -- int -- The page count to retrieve from the total
                        results in the collection. Page indexing starts at 1.
                    pagesize -- int -- The count of objects to return per
                        page.
                    lettersid -- string -- The unique identifier for a letter
                        object.
                    date_created -- string -- The date the letter was
                        created.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/letter/listsletter.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'page': options.get('page', None),
            'pagesize': options.get('pagesize', None),
            'lettersid': options.get('lettersid', None),
            'dateCreated': options.get('date_created', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_letter_create(self,
                             options=dict()):
        """Does a POST request to /letter/create.json.

        Create, print, and mail a letter to an address. The letter file must
        be supplied as a PDF or an HTML string.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    to -- string -- The AddressId or an object structured when
                        creating an address by addresses/Create.
                    mfrom -- string -- The AddressId or an object structured
                        when creating an address by addresses/Create.
                    attachbyid -- string -- Set an existing letter by
                        attaching its LetterId.
                    file -- string -- File can be a 8.5"x11" PDF uploaded file
                        or URL that links to a file.
                    color -- string -- Specify if letter should be printed in
                        color.
                    description -- string -- A description for the letter.
                    extraservice -- string -- Add an extra service to your
                        letter. Options are "certified" or "registered".
                        Certified provides tracking and delivery confirmation
                        for domestic destinations and is an additional $5.00.
                        Registered provides tracking and confirmation for
                        international addresses and is an additional $16.50.
                    doublesided -- string -- Specify if letter should be
                        printed on both sides.
                    template -- string -- Boolean that defaults to true. When
                        set to false, this specifies that your letter does not
                        follow the m360 address template. In this case, a
                        blank address page will be inserted at the beginning
                        of your file and you will be charged for the extra
                        page.
                    htmldata -- string -- A string value that contains HTML
                        markup.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/letter/create.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'to': options.get('to', None),
            'from': options.get('mfrom', None),
            'attachbyid': options.get('attachbyid', None),
            'file': options.get('file', None),
            'color': options.get('color', None),
            'description': options.get('description', None),
            'extraservice': options.get('extraservice', None),
            'doublesided': options.get('doublesided', None),
            'template': options.get('template', None),
            'htmldata': options.get('htmldata', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body
