# -*- coding: utf-8 -*-

"""
    ytelapi.controllers.short_code_controller

    This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
"""

from .base_controller import BaseController
from ..api_helper import APIHelper
from ..configuration import Configuration
from ..http.auth.basic_auth import BasicAuth

class ShortCodeController(BaseController):

    """A Controller to access Endpoints in the ytelapi API."""


    def create_dedicatedshortcode_listshortcode(self,
                                                options=dict()):
        """Does a POST request to /dedicatedshortcode/listshortcode.json.

        Retrieve a list of Short Code assignment associated with your Ytel
        account.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    shortcode -- string -- Only list Short Code Assignment
                        sent from this Short Code
                    page -- string -- The page count to retrieve from the
                        total results in the collection. Page indexing starts
                        at 1.
                    pagesize -- string -- The count of objects to return per
                        page.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/dedicatedshortcode/listshortcode.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Shortcode': options.get('shortcode', None),
            'page': options.get('page', None),
            'pagesize': options.get('pagesize', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_dedicatedshortcode_updateshortcode(self,
                                                  options=dict()):
        """Does a POST request to /dedicatedshortcode/updateshortcode.json.

        Update a dedicated shortcode.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    shortcode -- string -- List of valid dedicated shortcode
                        to your Ytel account.
                    friendly_name -- string -- User generated name of the
                        dedicated shortcode.
                    callback_method -- string -- Specifies the HTTP method
                        used to request the required StatusCallBackUrl once
                        call connects.
                    callback_url -- string -- URL that can be requested to
                        receive notification when call has ended. A set of
                        default parameters will be sent here once the call is
                        finished.
                    fallback_method -- string -- Specifies the HTTP method
                        used to request the required FallbackUrl once call
                        connects.
                    fallback_url -- string -- URL used if any errors occur
                        during execution of InboundXML or at initial request
                        of the required Url provided with the POST.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/dedicatedshortcode/updateshortcode.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Shortcode': options.get('shortcode', None),
            'FriendlyName': options.get('friendly_name', None),
            'CallbackMethod': options.get('callback_method', None),
            'CallbackUrl': options.get('callback_url', None),
            'FallbackMethod': options.get('fallback_method', None),
            'FallbackUrl': options.get('fallback_url', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_dedicatedshortcode_viewshortcode(self,
                                                shortcode):
        """Does a POST request to /dedicatedshortcode/viewshortcode.json.

        Retrieve a single Short Code object by its shortcode assignment.

        Args:
            shortcode (string): List of valid Dedicated Short Code to your
                Ytel account

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/dedicatedshortcode/viewshortcode.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Shortcode': shortcode
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_shortcode_viewsms(self,
                                 message_sid):
        """Does a POST request to /shortcode/viewsms.json.

        View a single Sms Short Code message.

        Args:
            message_sid (string): The unique identifier for the sms resource

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/shortcode/viewsms.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'MessageSid': message_sid
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_dedicatedshortcode_getinboundsms(self,
                                                options=dict()):
        """Does a POST request to /dedicatedshortcode/getinboundsms.json.

        Retrive a list of inbound Sms Short Code messages associated with your
        Ytel account.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    page -- int -- The page count to retrieve from the total
                        results in the collection. Page indexing starts at 1.
                    pagesize -- int -- Number of individual resources listed
                        in the response per page
                    mfrom -- string -- Only list SMS messages sent from this
                        number
                    shortcode -- string -- Only list SMS messages sent to
                        Shortcode
                    datecreated -- string -- Only list SMS messages sent in
                        the specified date MAKE REQUEST

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/dedicatedshortcode/getinboundsms.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'page': options.get('page', None),
            'pagesize': options.get('pagesize', None),
            'From': options.get('mfrom', None),
            'Shortcode': options.get('shortcode', None),
            'Datecreated': options.get('datecreated', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_dedicatedshortcode_sendsms(self,
                                          options=dict()):
        """Does a POST request to /dedicatedshortcode/sendsms.json.

        Send Dedicated Shortcode

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    shortcode -- int -- Your dedicated shortcode
                    to -- float -- The number to send your SMS to
                    body -- string -- The body of your message
                    method -- string -- Specifies the HTTP method used to
                        request the required URL once the Short Code message
                        is sent.GET or POST
                    messagestatuscallback -- string -- URL that can be
                        requested to receive notification when Short Code
                        message was sent.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/dedicatedshortcode/sendsms.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'shortcode': options.get('shortcode', None),
            'to': options.get('to', None),
            'body': options.get('body', None),
            'method': options.get('method', None),
            'messagestatuscallback': options.get('messagestatuscallback', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body

    def create_shortcode_listsms(self,
                                 options=dict()):
        """Does a POST request to /shortcode/listsms.json.

        Retrieve a list of Short Code messages.

        Args:
            options (dict, optional): Key-value pairs for any of the
                parameters to this API Endpoint. All parameters to the
                endpoint are supplied through the dictionary with their names
                being the key and their desired values being the value. A list
                of parameters that can be used are::

                    shortcode -- string -- Only list messages sent from this
                        Short Code
                    to -- string -- Only list messages sent to this number
                    date_sent -- string -- Only list messages sent with the
                        specified date
                    page -- int -- The page count to retrieve from the total
                        results in the collection. Page indexing starts at 1.
                    page_size -- int -- The count of objects to return per
                        page.

        Returns:
            string: Response from the API. 

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/shortcode/listsms.json'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare form parameters
        _form_parameters = {
            'Shortcode': options.get('shortcode', None),
            'To': options.get('to', None),
            'DateSent': options.get('date_sent', None),
            'Page': options.get('page', None),
            'PageSize': options.get('page_size', None)
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, parameters=_form_parameters)
        BasicAuth.apply(_request)
        _context = self.execute_request(_request)
        self.validate_response(_context)

        # Return appropriate type
        return _context.response.raw_body
